.commerce{
   
}

.listCommerce{
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        padding: 4pt 6pt;
        background: white;
        z-index: 3;
        box-shadow: 0 2pt 3pt rgba($color: #000, $alpha: .2);
    }

    .p-datascroller{
        position: relative;
        left: -30pt;
    }
    li{
        list-style: none;
        position: inherit;
    }
    .kcs-wrapper{
        margin: 5pt 4pt;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        &:hover{
            background: var(--gray-200);
        }


        .p-tag{
            width: auto;
            margin-right: 5pt;
        }
        .name{
            font-size: 1.7rem;
        }
    }
}

.createCommerce{
    padding: 0 4pt;
    
    .p-inputgroup{
        margin-bottom: 10pt;
    }

    .p-button{
        display: block;
        width: 100%;
    }
}